@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>CONTACT</h5>
            </div>
            <div class="col-lg-5">
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i><t>Email</t><br />
                    <a href="mailto:lukaszsadlocha@gmail.com"> lukaszsadlocha@gmail.com</a><br />
                </p>
                <p>
                    <i class="fa fa-link" aria-hidden="true"></i><t>Webpage</t><br />
                    <a href="http://lukaszsadlocha.pl/">lukaszsadlocha.pl</a> <br />
                </p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i><t>Phone</t><br />
                    +48 509 509 917 <br />
                </p>
            </div>
            <div class="col-lg-2">
                <p><sm>SOCIAL LINKS</sm></p>
                <ul>
                    <li><a href="https://github.com/lukaszsadlocha/"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100001637353241"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                    <li><a href="https://www.linkedin.com/in/%C5%82ukasz-sadlocha-33b63495/"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkendIn</a></li>
                </ul>
            </div>
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/ #footer -->