<div id="section-topbar" style="position: relative;">
    <div id="topbar-inner">
        <div class="container">
            <div class="row">
                <div class="dropdown">
                    <ul id="nav" class="nav">
                        <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#work" title="Work"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#education" title="Education"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#certifiaction" title="Certifiaction"><i class="fa fa-certificate" aria-hidden="true"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#skills" title="Skills"><i class="fa fa-star" aria-hidden="true"></i></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#whatido" title="What I do"><i class="fa fa-windows" aria-hidden="true"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul><!--/ uL#nav -->
                </div><!-- /.dropdown -->
                <div class="clear"></div>
            </div><!--/.row -->
        </div><!--/.container -->
        <div class="clear"></div>
    </div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->